.filter {
  margin: 0.4em 0.2em;
  padding: 0.4em 0.2em;
}

.filter .heading {
  text-align: left;
}

.filter .facet {
  display: flex;
  flex-direction: column;
  margin: 0.4em;
}

.filter .facet label {
  text-align: left;
}

.filter .actions {
  margin: 0.4em;
}

.filter .actions button {
  width: 100%;
  background-color: #e26447;
  color: white;
  border-radius: 4px;
  padding: 1em;
  box-shadow: 0 4px 0 #b1472d;
  border: 0px;
  font-weight: bold;
}
