.product {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.product .details {
  flex: 1;
  margin: 0 0.4em;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.image img {
  width: 128px;
}

.tag {
  /* Center the content */
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
}

.tag .content {
  margin-right: 4px;
}
